<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crop Recommendation</title>
</head>
<body>
    <form action="croprecommendation" method="post">
        {% csrf_token %}
        <input type="number" name="nitrogen" placeholder="nitrogen" step="any">
        <input type="number" name="phosphorous" placeholder="phosphorus" step="any">
        <input type="number" name="potash" placeholder="potash" step="any">
        <input type="number" name="ph" placeholder="ph" step="any">
        <input type="number" name="rainfall" placeholder="rainfall" step="any">
        <input type="text" name="city" placeholder="city">
        <button type="submit">Submit</button>
    </form>
</body>
</html>