<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>login</title>
  </head>
  <body>
    <form action="/login" method="POST">
      {% csrf_token %}
      <label for="Username">Username</label>
      <input
        type="text"
        name="Username"
        placeholder="username"
      />
      <label for="Password">Password</label>
      <input
        type="password"
        name="Password"
        placeholder="password"
      />
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <p>OR</p>
    <a name="signup" id=""  href="signup" role="button">Sign up</a>
  </body>
</html>
